fastapi
uvicorn
streamlit
langchain
sentence-transformers
pandas
python-frontmatter
markdown
transformers
tqdm
ftfy
tiktoken   
chromadb 
python-dotenv
python-jose[cryptography]
sqlalchemy
python-multipart
requests
